@model LeafLINQWeb.Models.ProfileUpdateModel;

@{
    ViewData["Title"] = "Profile";
}

<div class="main-page">
    @Html.Partial("_Sidebar")
    <div class="main-content">
        <div class="main-header">
            <h2>User Profile</h2>
        </div>
        <form asp-controller="Profile" asp-action="UpdateProfile" method="post" enctype="multipart/form-data">
            <div class="container">
                <div class="column">

                    <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id" required>
                    <input type="hidden" class="form-control" id="PicURL" name="PicUrl" value="@Model.PicUrl" required>
                    <div class="user-input">
                        <label for="fullName">Full Name</label>
                        <input type="text" class="form-control" id="fullName" name="FullName" value="@Model.FullName" required>
                        @Html.ValidationMessage("FullName", new { @class = "text-danger"})
                    </div>
                    <div class="user-input">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="Email" value="@Model.Email" required>
                        @Html.ValidationMessage("Email", new { @class = "text-danger"})
                    </div>
                    <div class="user-input">
                        <label for="picture">Profile Picture</label>
                        <input type="file" class="form-control profile-file" id="picture" name="ImageFile" accept="image/*">
                    </div>
                    <a asp-action="EmailCode" asp-Controller="NewLogin">Change Password</a>
                    <input class="btn primary" type="submit" value="Update Profile" />
                </div>
                <div class="column">
                    <div class="profile-section-img" style="background-image: url('@Model.PicUrl');"></div>
                </div>
            </div>
            @Html.ValidationMessage("Error", new { @class = "text-danger"})
        </form>
        @Html.ValidationMessage("Success")
    </div>
</div>

<script src="~/js/profileImageJs.js" asp-append-version="true"></script>